<div class="language-selector">
  <select id="languageSelect" (change)="changeLanguage($event)">
    <option value="en" [selected]="currentLang === 'en'">English</option>
    <option value="fr" [selected]="currentLang === 'fr'">Français</option>
  </select>
</div>

<nav class="navbar">
  <div class="nav-container">
    <h1 class="logo">Daniel Seguin</h1>
    <ul class="nav-menu" [class.active]="menuOpen">
      <li><a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">{{ translations.nav.home }}</a></li>
    </ul>
    <div class="hamburger" [class.active]="menuOpen" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
